@font-face {
  font-family: "iconfont"; /* Project id 3371208 */
  src: url('iconfont.woff2?t=1651392250378') format('woff2'),
       url('iconfont.woff?t=1651392250378') format('woff'),
       url('iconfont.ttf?t=1651392250378') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e638";
}

.icon-pinglun:before {
  content: "\e635";
}

.icon-16:before {
  content: "\e615";
}

.icon-home:before {
  content: "\e674";
}

